libtailscale
libtailscale.so
libtailscale.dylib
libtailscale.a
libtailscale.h
libtailscale.tar*

/tstestcontrol/libtstestcontrol.a
/tstestcontrol/libtstestcontrol.h

/swift/build

/ruby/tmp/
/ruby/pkg/
/ruby/doc/
/ruby/ext/libtailscale/*.go
/ruby/ext/libtailscale/go.mod
/ruby/ext/libtailscale/go.sum
/ruby/LICENSE

/sourcepkg/libtailscale
/sourcepkg/libtailscale.tar*

/vendor/
